{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <br><br><br>
    <h1 style="font-family: Bilbo; text-align: center;">Newsletter</h1>
    <br>
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            {{ form.media }}
            <div class="form-group">
                <button class="btn btn-outline-dark" type="submit">Send</button>
            </div>
        </form>
    </div>
{% endblock %}