{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<!--<div class="container h-100">
        <div class="row h-100">
            <div class="box-style-opaque col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-black">
                    The new collections are here
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>-->
    <div class="overlay"></div>
    <div class="hero-section">
        <div class="content">
            <p class="sub-heading">The Best Collection of Healing Crystals Online</p>
            <h4>
                <a href="{% url 'products' %}" class="shop-now-button btn btn-outline-light btn-floating m-1 text-uppercase py-3">Shop Now</a>
            </h4>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <h4>FREE DELIVERY <i class="fa-solid fa-truck" style="color: #000000;"></i></h4>
            <p>Free delivery on all orders over $35</p>
        </div>
        <div class="col">
            <h4>FREE RETURNS <i class="fa-sharp fa-solid fa-box-open" style="color: #000000;"></i></h4>
            <p>Returns are free within 30 days</p>
        </div>
        <div class="col">
            <h4>SECURE PAYMENT <i class="fa-solid fa-credit-card" style="color: #000000;"></i></h4>
            <p>Shop with confidence!</p>
        </div>
    </div>


        <div class="container-fluid">
            <!--<div id="front-image" class="row">-->
            <div class="row">
                <h1>TEST</h1>
                <h2>Something else</h2>
                <span class="icon">
                    <i class="fa-solid fa-truck" style="color: #000000;"></i>
                </span>
                <div class="box-style-opaque">
                    <h4>Another thing extra</h4>
                </div>
            </div>
            <div class="row" style="background-color: aqua;">
                <div class="col">Test</div>
                <div class="col">Test2</div>
                <div class="col">Test3</div>
            </div>
        </div>
{% endblock %}