{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<!--<div class="container h-100">
        <div class="row h-100">
            <div class="box-style-opaque col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-black">
                    The new collections are here
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>-->
    <div class="overlay"></div>
    <div class="hero-section">
        <div class="content">
            <p class="sub-heading">The Best Collection of Healing Crystals Online</p>
            <h4>
                <a href="{% url 'products' %}" class="shop-now-button btn btn-outline-light btn-floating m-1 text-uppercase py-3">Shop Now</a>
            </h4>
        </div>
    </div>
    <div class="row text-center p-2">
        <div class="col">
            <h6>FREE DELIVERY <i class="fa-solid fa-truck" style="color: #000000;"></i></h6>
            <small>Free delivery on all orders over $35</small>
        </div>
        <div class="col">
            <h6>FREE RETURNS <i class="fa-sharp fa-solid fa-box-open" style="color: #000000;"></i></h6>
            <small>Returns are free within 30 days</small>
        </div>
        <div class="col">
            <h6>SECURE PAYMENT <i class="fa-solid fa-credit-card" style="color: #000000;"></i></h6>
            <small>Shop with confidence!</small>
        </div>
    </div>
{% endblock %}