{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="hero-section">
        <div class="content">
            <h1 style="font-family: Bilbo; color: white;">The Mystic Mindfulness <strong>Blog</strong></h1>
        </div>
    </div>
    <hr>
    <h3 style="font-family: Bilbo;">Expert guidance on opening your life to the power of crystals</h3>
    <ul>
        {% for post in object_list %}
            <li><a href="{% url 'post-details' post.pk %}">{{ post.title }}</a> - {{ post.author }}<br/>
            {{ post.body }}</li>
            <li class="box-style">
                {{ post.body }}
            </li>
        {% endfor %}
    </ul>
    </br>
    {% for post in object_list %}
        <div class="table box-style">
            <div class="col"></div>
        </div>
    
        <table class="box-style">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Date</th>
                <td>Mark</td>
                <td>{{ post.title }}</td>
                <td>{{ post.body|slice:":200" }}</td>
                <td><a href="{% url 'post-details' post.pk %}" class="btn btn-outline-black">Read more</a></td>
              </tr>
            </tbody>
          </table>
    {% endfor %}

    

{% endblock %}