{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div style="text-align: center;">
        <br/><br/>
        <h1 style="font-family: Bilbo;">{{ post.title }}</h1>
        <small>By: {{ post.author }}</small><br/>
        {% if request.user.is_superuser %}
            <div>
                <br/>
                <a href="{% url 'edit-post' post.pk %}">Edit Post</a> | 
                <a class="text-danger" href="{% url 'delete-post' post.pk %}">Delete Post</a>
            </div>
        {% endif %}
        <br/>
        <div class="blog-image-container">
            {% if post.image %}
                <a href="{{ post.image.url }}" target="_blank">
                    <img class="img-fluid" src="{{ post.image.url }}" alt="{{ post.name }}">
                </a>
            {% else %}
                <a href="">
                    <img class="img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ post.name }}">
                </a>
            {% endif %}
        </div>
        <hr>
        <br/>
    </div>
    {{ post.body|safe }}
    <br/>
    <hr>
    <div>
        <br/>
        <a href="{% url 'blog' %}" class="btn btn-outline-black">Back</a>
        <br/>
    </div> 
    <br/><br/>   

{% endblock %}